* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

div {
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  height: 90%;
  width: 410px;
  padding:30px;
  margin: auto;
}

.resultOnScreen {
  font-size: 40px;
  height: 40px;
  text-align: center;
}

hr {
  height: 1px;
  width: 90%;
  border-width: 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
}

button {
  width: 65px;
  height: 65px;
  font-size: 30px;
  color: rgb(105, 248, 229);
  background-color: rgb(32, 32, 32);
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2px;
  transition: transform 0.1s ease;
}

#clear {
  border-radius: 203px;
  width: 203px;
  padding: 0 40px;
  color: #ff0000;
  /* margin-top:20px; */
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(87, 82, 82);

}

.operations {
  background-color: rgb(255, 136, 25);
}
.operations:hover {
  background-color: rgb(212, 73, 8);
}

.zeroButton {
  width: 134px;
  border-radius: 65px;
  text-align: left;
  padding-left: 20px;
}


/* for screen smaller than 420px  */
@media only screen and (max-width: 400px) {
 div {
   width: 95%;
 } 
 button {
  width: 55px;
  height: 55px;
  font-size: 25px;
 }
 #clear {
  width: 170px;
 }
 .zeroButton {
  width: 110px;
 }
}